<!--Header section with NavBar-->
<%- include('../../components/general/header-admin.ejs') %>
<!--Header section with NavBar end-->

<!--Main content section-->
<main>
  <!--Main MIRKO section-->
  <section class="create-wrapper container">
    <h2 class="create-container__title title">CREAR NUEVO PRODUCTO</h2>
    <div id="container-form">
      <!-- Este código nos permite imprimir los errores en pantalla en caso que existan -->
      <% if (typeof errors != 'undefined') { %>
      <ul>
        <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
        <% }) %>
      </ul>
      <% } %>
      <!-- Fin impresión errores -->

      <form
        action="/admin/productos"
        method="post"
        enctype="multipart/form-data"
        class="container-form__create"
      >
        <div class="container-form__fields fields__category-licence">
          <div>
            <label for="categoryId" class="label-create">Categoría*:</label>
            <select id="categoryId" name="categoryId" class="select-createItem" required>
              <option disabled selected>Seleccionar</option>
              <% categorias.forEach(categoria => { %>
              <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
              <% }) %>
            </select>
          </div>

          <div>
            <label for="licenceId" class="label-create licence">Licencia*:</label>
            <select id="licenceId" name="licenceId" class="select-createItem" required>
              <option disabled selected>Seleccionar</option>
              <% licencias.forEach(licencia => { %>
              <option value="<%= licencia.id %>"><%= licencia.nombre %></option>
              <% }) %>
            </select>
          </div>
        </div>

        <div class="container-form__fields fields__category-type">
        <div>
          <label for="typeId" class="label-create">Tipo*:</label>
          <select id="typeId" name="typeId" class="select-createItem" required>
            <option disabled selected>Seleccionar</option>
            <% tipos.forEach(tipo => { %>
              <option value="<%= tipo.id %>"><%= tipo.nombre %></option>
            <% }) %>
          </select>
        </div>
        </div>

        <div class="container-form__fields fields__productName">
          <label for="nombre" class="label-create">Nombre del producto*:</label>
          <input
            type="text"
            id="nombre"
            name="nombre"
            value="<%= typeof values != 'undefined' ? values.nombre : '' %>"
            placeholder="Nombre del producto"
            class="input-create input-create__productName"
            required
          />
        </div>

        <div class="container-form__fields">
          <textarea
            type="text"
            id="description"
            name="description"
            value="<%= typeof values != 'undefined' ? values.description : '' %>"
            class="textarea-create"
            cols="60"
            rows="5"
            placeholder="Descripción del producto"
            maxlength="350"
          ></textarea>
        </div>

        <div class="container-form__fields fields__sku-price-stock">
          <div>
            <label for="sku" class="label-create">SKU*:</label>
            <input
              type="text"
              id="sku"
              name="sku"
              value="<%= typeof values != 'undefined' ? values.sku : '' %>"
              placeholder="SSK111AB001"
              class="input-create input-create__sku"
              required
            />
          </div>

          <div>
            <label for="price" class="label-create">Precio*:</label>
            <input
              type="number"
              id="precio"
              name="precio"
              value="<%= typeof values != 'undefined' ? values.precio : '' %>"
              placeholder="$0.000,00"
              class="input-create input-create__price"
              min="0"
              required
            />
          </div>

          <div>
            <label for="stock" class="label-create">Stock*:</label>
            <input
              id="stock"
              name="stock"
              value="<%= typeof values != 'undefined' ? values.stock : '' %>""
              type="number"
              placeholder="0"
              class="input-create input-create__stock"
              min="0"
            />
          </div>
        </div>

        <div class="container-form__fields fields__discount-cuotas">
          <div>
            <label for="discount" class="label-create">Descuento:</label>
            <input
              id="discount"
              name="discount"
              type="number"
              placeholder="0%"
              min="0"
              class="input-create input-create__discount"
            />
          </div>

          <div>
            <label for="cuotas" class="label-create">Cuotas:</label>
            <select
              id="cuotas"
              name="cuotas"
              class="select-createItem select-createItem__cuotas"
            >
              <option selected>3 Cuotas sin interes</option>
              <option value="sinCoutas">Sin Cuotas</option>
              <option value="seisCuotas">6 Cuotas sin interes</option>
              <option value="doceCuotas">12 Cuotas sin interes</option>
              <option value="dieciOchoCuotas">18 Cuotas sin interes</option>
              <option value="veintiCuatroCuotas">24 Cuotas sin interes</option>
            </select>
          </div>
        </div>

        <div class="container-card">
          <section class="card-edit">
            <div>
              <label for="imagen" class="label-create">Imagen Principal*:</label>
              <input
                type="file"
                name="imagen"
                id="imagen"
                required
                onchange="previewImage(event)"
              />
            </div>
            <div id="imagePreviewContainer">
              <img id="imagePreview" src="#" alt="Vista previa de la imagen" style="display: none; max-width: 200px; max-height: 200px;">
            </div>
          </section>
          
          <!-- <div>
            <label for="image_back" class="label-create"
              >Imagen Secundaria*:</label
            >
            <input
              type="url"
              name="image_back"
              id="image_back"
              class="input-create_images"
              placeholder="Ingrese la url de la imagen"
              required
            />
          </div> -->
        </div>

        <div class="container-btns">
          <button type="submit" class="buttons-create">Agregar Producto</button>
          <button type="reset" class="buttons-create">Limpiar</button>
        </div>
      </form>
    </div>
  </section>
</main>
<!--Main content section end-->

<!--Footer section-->
<%- include('../../components/general/footer-admin.ejs') %>
<!--Footer section end-->
