<!--Header section with NavBar-->
<%- include('../../components/general/header-admin.ejs') %>
<!--Header section with NavBar end-->

<!--Main content section-->
<main>
  <!--Main MIRKO section-->
  <section class="create-wrapper container">
      <h1 class="create-container__title title">EDITAR PRODUCTO</h1>
      <div id="container-form">
      <!-- Este código nos permite imprimir los errores en pantalla en caso que existan -->
      <% if (typeof errors != 'undefined') { %>
      <ul>
        <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
        <% }) %>
      </ul>
      <% } %>
      <!-- Fin impresión errores -->

      <form
        action="/admin/productos/<%= values.id %>?_method=PUT"
        method="post"
        enctype="multipart/form-data"
        class="container-form__create"
      >
        <div class="container-form__fields fields__category-licence">
          <div>
            <label for="categoryId" class="label-create">Categoría*:</label>
            <select id="categoryId" name="categoryId" class="select-createItem">
              <option disabled>Seleccionar</option>
              <% categorias.forEach(categoria => { %>
              <option value="<%= categoria.id %>" <%= categoria.id == values.categoryId ? "selected" : "" %> ><%= categoria.nombre %></option>
              <% }) %>
          </select>
          </div>

          <div>
            <label for="licenceId" class="label-create licence">Licencia:</label>
            <select id="licenceId" name="licenceId"class="select-createItem" style="cursor: pointer">
              <option disabled>Seleccionar</option>
              <% licencias.forEach(licencia => { %>
              <option value="<%= licencia.id %>" <%= licencia.id == values.licenceId ? "selected" : "" %> ><%= licencia.nombre %></option>
              <% }) %>
            </select>
          </div>
        </div>

        <div class="container-form__fields fields__category-type">
          <div>
            <label for="typeId" class="label-create type">Tipo*:</label>
            <select id="typeId" name="typeId" class="select-createItem" style="cursor: pointer">
              <option disabled>Seleccionar</option>
              <% tipos.forEach(tipo => { %>
                <option value="<%= tipo.id %>" <%= tipo.id == values.typeId ? "selected" : "" %> ><%= tipo.nombre %></option>
              <% }) %>
            </select>
          </div>
          </div>

        <div class="container-form__fields fields__productName">
          <label for="nombre-producto" class="label-create">Nombre del producto:</label>
          <input
            class="edit-product"
            id="nombre"
            name="nombre"
            value="<%= typeof values != 'undefined' ? values.nombre : '' %>"
            class="input-create input-create__productName"
            required
            nimLength="3"
          />
        </div>

        <div class="container-text-edit">
          <textarea
            type="text"
            id="description"
            class="edit-text"
            name="description"
            rows="5"
            cols="60"><%= typeof values != 'undefined' ? values.description : '' %></textarea>
        </div>

        <div class="container-form__fields fields__sku-price-stock">
          <div>
            <label for="sku" class="label-edit">SKU:</label>
            <input
              class="edit-sps"
              type="text"
              id="sku"
              name="sku"
              value="<%= typeof values != 'undefined' ? values.sku : '' %>"
            />
          </div>

          <div>
            <label for="precio" class="label-create">Precio:</label>
            <input
              class="edit-sps"
              type="number"
              id="precio"
              name="precio"
              value="<%= typeof values != 'undefined' ? values.precio : '' %>"
              required
              min="1"
            />
          </div>

          <div>
            <label for="stock" class="label-create">Stock:</label>
            <input
              class="edit-sps"
              name="stock"
              type="text"
              id="stock"
              value="<%= typeof values!= 'undefined' ? values.stock : '' %>"
            />
          </div>
        </div>

        <div class="container-form__fields fields__discount-cuotas">
          <div>
            <label for="descuento">Descuento:</label>
            <input
              class="discount"
              name="discount"
              type="text"
              id="discount"
              value="<%= typeof values != 'undefined' ? values.discount : '' %>"
            />
          </div>

          <label for="cuotas" class="label-create">Cuotas:</label>
          <select class="select-createItem select-createItem__cuotas" name="cuotas" id="cuotas" required>
            <option value="numero-cuotas">3 Cuotas sin interés</option>
            <option value="numero-cuotas">6 Cuotas sin interés</option>
            <option value="numero-cuotas">12 Cuotas sin interés</option>
            <option value="dieciOchoCuotas">18 Cuotas sin interes</option>
            <option value="veintiCuatroCuotas">24 Cuotas sin interes</option>
          </select>
        </div>

        <div class="container-form__fields fields__images">
          <label for="imagen" class="label-create">Imágenes:</label>
          <input 
          class="input-create_images" 
          type="file" 
          id="imagen" 
          name="imagen" 
          accept="image/*" />
        </div>

        <!-- <label for="image_front" class="label-create">Imagen Principal:</label>
        <input
          type="url"
          name="image_front"
          id="image_front"
          value="<%= typeof collections != 'undefined' ? collections.image_front : '' %>"
          required
        />

        <label for="image_back" class="label-create">Imagen Secundaria:</label>
        <input
          type="url"
          name="image_back"
          id="image_back"
          value="<%= typeof collections != 'undefined' ? collections.image_back : '' %>"
          required
        /> -->

        <div class="container-card">
          <section class="card-edit">
            <div>
              <!-- <label for="imagen">Imagen: </label>
              <input type="file" id="imagen" name="imagen" accept="image/*" /> -->
              <img
                width="30px"
                src="/uploads/producto_<%= values.id %>.webp"
                alt="<%= values.nombre %>"
              />
            </div>

            <p class="p-carga">Frente</p>
          </section>

          <!-- <section class="card-edit">
            <img
              class="img-edit"
              src="<%= typeof collections != 'undefined' ? collections.image_back : '' %>"
              alt="Figura coleccionable funko - <%= typeof collections != 'undefined' ? collections.product_name : '' %>"
            />
            <p class="p-carga">Dorso</p>
          </section> -->
        </div>

        <div class="container-btns">
          <button type="submit" style="cursor: pointer" class="buttons-create">Modificar</button>
          <button type="reset" class="buttons-create"><a href="javascript:history.back()">Cancelar</button>
        </div>

      </form>
      </div>
  </section>
</main>
<!--Main Mirko section end-->

<!--Footer section-->
<%- include('../../components/general/footer-admin.ejs') %>
<!--Footer section end-->
