<!--Header section with NavBar-->
<%- include('../../components/general/header-admin.ejs') %>
<!--Header section with NavBar end-->

<!--Main content section-->
<main>

  <!--Main MIRKO section-->
  <section class="create-wrapper container">
      <h1 class="create-container__title title">EDITAR ITEM</h1>
      <!-- Este código nos permite imprimir los errores en pantalla en caso que existan -->
      <% if (typeof errors != 'undefined') { %>
      <ul>
        <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
        <% }) %>
      </ul>
      <% } %>
      <!-- Fin impresión errores -->

      <form
        action="/admin/categorias/<%= values.id %>?_method=PUT"
        method="post"
      >

        <div class="edit-tipo">
          <label for="nombre-producto">Nombre de la categoría:</label>
          <input
            class="edit-product"
            id="nombre"
            name="nombre"
            value="<%= typeof values != 'undefined' ? values.nombre : '' %>"
            required
            nimLength="3"
          />
        </div>

        <input
          class="button-mod"
          type="submit"
          style="cursor: pointer"
          value="Modificar Categoría"
        />
      </form>
  </section>
</main>
<!--Main Mirko section end-->

<!--Footer section-->
<%- include('../../components/general/footer-admin.ejs') %>
<!--Footer section end-->
